@{
    ViewData["Title"] = "Contato";
}
<h2 class="display-2">@ViewData["Title"]</h2>
<h3 class="display-4">Features / Informações</h3>
<br /><br />

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="text-center">
                <img class="rounded-circle" src="https://pt.gravatar.com/userimage/1149986/90c7ef17f9e6468f5929ce3e418e76c1.png?size=100" />
                <br />
                <img class="rounded" src="http://luizcarlosfaria.net/wp-content/uploads/2017/09/MTAC-Logo-Transparente.png" style="width:100%" />
            </div>
        </div>
        <div class="col-9">
            <h3>Luiz Carlos Faria</h3>
            <address>
                Rio de Janeiro / RJ<br />
            </address>
            <address>
                <strong>Suporte:</strong> <a target="_blank" href="https://t.me/luizcarlosfaria">telegram</a> | <a target="_blank" href="https://github.com/luizcarlosfaria/devweek2017--ci-cd-jenkins-netcore">github</a> | <a target="_blank" href="mailto:luizcarlosfaria@gmail.com">luizcarlosfaria@gmail.com</a><br />
            </address>

        </div>
    </div>


<h3 class="display-4">O que você encontra em cada canal</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <address>
                Website <strong><a href="http://gago.io/" target="_blank">gago.io</a></strong>
            </address>
            <ul>
                <li>Minhas publicações</li>
                <li>Anúncios sobre meus projetos open source</li>
            </ul>
        </div>
        <div class="col">
            <address>
                Página do <strong><a href="https://www.facebook.com/ArquitetoDeSolucoes/" target="_blank">Facebook</a></strong>
            </address>
            <ul>
                <li>Minhas publicações</li>
                <li>Republicações diversas sobre desenvolvimento, arquitetura, docker, .net, node, infraestrutura, e tecnologia em geral</li>
            </ul>
        </div>
        <div class="col">
            <address>
                Grupo <strong><a href="https://www.facebook.com/groups/arquiteturadotnet/" target="_blank">Arquitetura de Software | .NET</a></strong> no Facebook
            </address>
            <ul>
                <li>Discussão e apoio</li>
                <li>Publicações diversas (minhas e de terceiros)</li>
            </ul>
        </div>
        <div class="col">
            <address>
                Grupo <strong><a href="https://t.me/dotnetarchi" target="_blank">Arquitetura de Software | .NET</a></strong> no Telegram
            </address>
            <ul>
                <li>Discussão e suporte</li>                
            </ul>
        </div>
    </div>
</div>