@{
    ViewData["Title"] = "Home";
}
<div ng-controller="HomeController">
    <div class="container">
        <div class="row">
            <div class="col-sm">

                <div class="alert alert-success" role="alert" ng-repeat="notificationMessage in notificationQueue">
                    {{notificationMessage}}
                </div>

                <form class="">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="https://www.youtube.com/watch?v=L3wKzyIN1yk" aria-label="Enfileirar" ng-model="url" rows="1"></textarea>
                        <span class="input-group-btn">
                            <button class="btn" type="button" ng-click="enqueue()" ng-disabled="!url" ng-class="{'btn-primary': url}">Baixar!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="item in list">
                <div class="card">
                    <img class="card-img-top" src="{{item.ThumbnailUrl}}" alt="Aguarde..." ng-if="item.ThumbnailUrl && !item.PlayUrl">
                    <div class="embed-responsive embed-responsive-16by9" ng-if="item.PlayUrl">
                        <video class="embed-responsive-item" src="{{item.PlayUrl}}" preload="none" controls="controls" poster="{{item.ThumbnailUrl}}"></video>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.Title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"><a target="_blank" href="{{item.OriginalMediaUrl}}">{{item.OriginalMediaUrl}}</a></h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.Duration}}</h6>
                        <p class="card-text ">{{item.Description}}</p>
                        <br />
                        <a target="_blank" ng-if="item.AudioDownloadUrl" href="{{item.AudioDownloadUrl}}" class="btn btn-primary btn-sm">Baixar Audio</a>
                        <a target="_blank" ng-if="item.VideoDownloadUrl" href="{{item.VideoDownloadUrl}}" class="btn btn-primary btn-sm">Baixar Video</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>