@{
    ViewData["Title"] = "Home";
}
<div ng-controller="HomeController">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class="">
                    <div class="input-group">
                        <input class="form-control" type="url" placeholder="https://www.youtube.com/watch?v=L3wKzyIN1yk" aria-label="Enfileirar" ng-model="url">
                        <span class="input-group-btn">
                            <button class="btn" type="button" ng-click="enqueue()" ng-disabled="!url" ng-class="{'btn-primary': url}">Baixar!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="item in list">
                <div class="card">
                    <img class="card-img-top" src="{{item.thumbnailUrl}}" alt="Aguarde..." ng-if="!item.playUrl">
                    <div class="embed-responsive embed-responsive-16by9" ng-if="item.playUrl">
                        <video class="embed-responsive-item" src="{{item.playUrl}}" preload="none" controls="controls" poster="{{item.thumbnailUrl}}"></video>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.originalMediaUrl}}</h6>
                        <p class="card-text text-truncate">{{item.description}}</p>
                        <br />
                        <a target="_blank" href="{{item.originalMediaUrl}}" class="card-link">Ver original</a>
                        <a target="_blank" ng-if="item.audioDownloadUrl" href="{{item.audioDownloadUrl}}" class="btn btn-primary btn-sm">Baixar MP3</a>
                        <a target="_blank" ng-if="item.videoDownloadUrl" href="{{item.videoDownloadUrl}}" class="btn btn-primary btn-sm">Baixar MP4</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>