@{
    ViewData["Title"] = "About";
}
<h2 class="display-2">@ViewData["Title"]</h2>
<h3 class="display-4">DevWeek 2017 - Youtube-dl</h3>

<p>Use this area to provide additional information.</p>

<ul>
    <li>Criar as máquina (obter ip's internos e externos)</li>
    <li>Colocar as 4 máquinas no docker swarm</li>
    <li>Instalar ferramentas de monitoramento mc htop </li>
</ul>
<ul>
    <li>Instalar Jenkins</li>
    <li>Instalar Portainer</li>    
</ul>

<h2>Know Issues</h2>
<code>
    warning NU1603: RestSharp.NetCore 105.2.3 depends on System.Runtime.Serialization.Formatters (>= 4.0.0-rc4-24217-03) but System.Runtime.Serialization.Formatters 4.0.0-rc4-24217-03 was not found. 
    An approximate best match of System.Runtime.Serialization.Formatters 4.3.0-preview1-24530-04 was resolved.
</code>